@page "/"

<PageTitle>TM Mini Games</PageTitle>

<h1>TrackMania Mini Games</h1>
<img src="./tm_site_logo_x64.png" />

<p>
    <h4>Enjoy some of my mini games.</h4>
    <div class="list-group">
        <a href="/GuessTheMap" class="list-group-item list-group-item-info list-group-item-action">
            <span class="oi oi-map-marker" aria-hidden="true"></span> Guess the map
        </a>
    </div>
</p>

<p>
    <h4>Links</h4>
    <div class="list-group">
        <div class="list-group-item">Github: <a target="_blank" href="https://github.com/TheSweMaster">https://github.com/TheSweMaster</a></div>
        <div class="list-group-item">YouTube: <a target="_blank" href="https://www.youtube.com/c/theswemaster/videos">https://www.youtube.com/c/theswemaster/videos</a></div>
        <div class="list-group-item">TMX: <a target="_blank" href="https://trackmania.exchange/user/profile/55132">https://trackmania.exchange/user/profile/55132</a></div>
        <div class="list-group-item">TheSweMaster © @DateTime.Now.Year</div>
    </div>
</p>
